.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(to right, #6a4d9e, #23856c);
  font-family: "Cambon", serif;
  min-height: 100vh;
  padding: 20px;
  color: white;
}

.about-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 110px;
  width: 100%;
}

.about-text-container {
  text-align: left;
  max-width: 650px;
}

.about-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-container h1 {
  font-size: 55px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: -0.03em;
}

.about-container p {
  /* font-family: "DM Sans", sans-serif; */
  font-family: "Authentic Sans", sans-serif;
  font-weight: 90;
  font-size: 20px;
}

.about-img {
  width: 350px;
}

.about-img.rounded {
  border-radius: 200px 200px 0 0;
}

/* Phone screen */
@media (max-width: 480px) {
  .about-wrapper {
    gap: 0;
  }

  .about-wrapper {
    padding: 80px 0;
  }

  .about-img {
    width: 80%;
  }

  .about-text-container {
    width: 80%;
  }

  .about-container h1 {
    font-size: 1.7em;
  }

  .about-container p {
    font-size: 0.8em;
  }
}
