.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background-color: whitesmoke; */
  background-color: white;
  font-family: "Cambon", serif;
  height: 100vh;
  padding: 20px;
}

.about-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  gap: 90px;
  width: 100%;
}

.about-text-container {
  /* align-items: center;
  justify-content: center; */
  /* margin-right: 150px; */
  text-align: left;
  max-width: 500px;
}

.about-container :is(h1, h2, p, span) {
  background: linear-gradient(to right, #8360c3, #2ebf91);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.about-container h1 {
  font-size: 40px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: -0.03em;
}

.about-container h2 {
  font-size: 30px;
}

.about-container p {
  /* font-family: "DM Sans", sans-serif; */
  font-family: "Authentic Sans", sans-serif;
  font-weight: 90;
  font-size: 17px;
}
