.nav-wrapper {
  padding: 18px 25px;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 30;
  transition: 0.32s ease-in-out;
}

a {
  text-decoration: none;
}

.nav-wrapper.default {
  background-color: transparent; /* Default background color */
}

.nav-wrapper.scrolled {
  /* Choose background color later */
}

.nav-wrapper.scrolled .logo,
.nav-wrapper.scrolled .menu-item {
  color: black;
}

.nav-wrapper.scrolled .menu-item.resume {
  border: 1px solid black;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 0 auto; */
}

.logo {
  display: flex;
  flex-direction: row;
  font-weight: 100;
  font-size: 25px;
  cursor: pointer;
  color: white;
  transition: transform 0.3s ease-in-out;
}

.logo.lastname {
  font-family: "Cambon", sans-serif;
  font-style: italic;
  font-size: 28px;
  font-weight: 300;
}

.logo:hover {
  transform: scale(1.05);
}

.menu-wrapper {
  margin: 0 20px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-item {
  padding: 10px 15px;
  font-size: 13px;
  font-weight: 100;
  position: relative;
  cursor: pointer;
  color: white;
}

.menu-item.resume {
  border: 1px solid white;
}

.menu-item.resume:hover {
  background-color: rgba(255, 255, 255, 0.25);
  transition: background-color 0.3s ease;
}
