.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 8em;
  background: linear-gradient(to right, #8360c3, #2ebf91);
  font-family: "Authentic Sans", sans-serif;
  color: white !important;
}

.footer-text {
  padding: 5px;
  font-weight: 90;
  letter-spacing: -0.03em;
  display: inline-block;
}

.footer-text a {
  color: white; /* Change the text color */
  text-decoration: underline; /* Add an underline */
}
