.experience-container {
  background-color: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  font-family: "Cambon", serif;
  height: 100vh;
  padding: 20px;
}

.experience-container h1 {
  font-size: 35px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: -0.03em;
}

.experience-wrapper.row {
  flex-direction: row;
  justify-content: space-around;
  /* text-align: left; */
}

.experience-wrapper.col {
  flex-direction: column;
}

.experience-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid white;
}

.experience-title {
  margin: 2% 0;
  font-family: "Authentic Sans", sans-serif;
  font-weight: 90;
  font-size: 20px;
}

.experience-subtitle {
  font-family: "Authentic Sans", sans-serif;
  font-weight: 50;
  font-size: 20px;
}

.section-container {
  width: 100%;
  border: 1px solid red;
}

.section-text {
  margin: 1% 0;
  font-family: "Authentic Sans", sans-serif;
  font-weight: 50;
  font-size: 15px;
  text-align: left;
}
