.experience-container {
  background-color: #f6f3f3;
  padding: 20px;
  color: black;
  align-items: center;
  font-family: "Authentic Sans", sans-serif;
}

.experience-container h1 {
  font-family: "Cambon", sans-serif;
  font-size: 40px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: -0.03em;
}

.experience-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  flex-wrap: wrap;
}

.experience-wrapper.row {
  flex-direction: row;
  gap: 100px;
}

.experience-wrapper.col {
  flex-direction: column;
}

.experience-text.title {
  padding-top: 2%;
  font-weight: 150;
  font-size: 22px;
}

.experience-text.subtitle {
  padding: 0.5%;
  font-weight: 130;
  font-size: 20px;
}

.experience-text.heading1 {
  padding: 0.5%;
  font-weight: 90;
  font-size: 15px;
  color: black;
}

.experience-text.body {
  padding-top: 2%;
  font-weight: 50;
  font-size: 13px;
  color: rgb(100, 100, 100);
  line-height: 1.25em;
}

.section-container {
  padding: 20px;
  margin: 10px 0;
  width: 500px;
  background-color: white;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.section-container:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section-text {
  margin: 1% 0;
  font-family: "Authentic Sans", sans-serif;
  font-weight: 50;
  font-size: 15px;
  text-align: left;
}

.experience-text.date {
  display: inline-block;
  padding: 5px;
  margin: 1% 0;
  background: rgba(32, 178, 170, 0.2);
  color: lightseagreen;
  font-size: 12px;
  font-weight: 100;
}

.topright-arrow {
  font-size: 15px;
  font-weight: 200;
}

@media (max-width: 768px) {
  .experience-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .section-container {
    width: 100%;
  }
}
