.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  top: 0;
  z-index: 10;
}

.banner-content {
  text-align: left;
  max-width: 800px;
}

.banner-container h1 {
  margin: 0;
  font-size: 70px;
  font-weight: 100;
  letter-spacing: 0.8px;
  line-height: 1;
  display: block;
}

.banner-container h2 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 90;
  line-height: 1.3em;
}

.border-text {
  font-family: "Cambon", serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: -0.03em;
  display: inline-block;
}

h1 .border-text {
  font-size: 75px;
}

h2 .border-text {
  font-size: 25px;
}

.social-icons-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-icon {
  margin-top: 5px;
  padding: 6px;
  height: 20px;
  border: 1px solid white;
  color: white;
  font-weight: 100;
  cursor: pointer;
}

.social-icon:hover {
  background-color: rgba(255, 255, 255, 0.25);
  transition: background-color 0.3s ease-in-out;
}

.custom-underline {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.topright-arrow {
  font-size: 15px;
  font-weight: 200;
}

.logo-pic {
  width: 5%;
  height: auto;
  cursor: pointer;
}

/* .down-arrow {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  text-align: center;
  font-size: 35px;
  transition: 0.3s;
  animation: bounce 3s infinite;
} */
